* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 0;
  display: none;
}

#root {
  width: 100vw;
  height: 400vh;
  background: url(./pic/back5.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#root .body1 {
  width: 40vw;
  height: 82vh;
  background-color: #d9d9d9;
  border-radius: 30px;
  margin-top: -300vh;
  -webkit-box-shadow: 0px 5px 5px 0px #666666;
          box-shadow: 0px 5px 5px 0px #666666;
  position: absolute;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#root .splogo {
  width: 5vw;
  height: 5vh;
  position: absolute;
  margin-top: -65vh;
  margin-right: -28vw;
  background: url(../superfamicom/pic/logo.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

#root .body2 {
  width: 35vw;
  height: 65vh;
  border-radius: 30px;
  margin-top: -9vh;
  background-color: #808080;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#root .pack {
  width: 28vw;
  height: 8vh;
  background-color: #b5b5b5;
  margin-top: -35vh;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 25vw;
  border-bottom-right-radius: 25vw;
  -webkit-box-shadow: 0px 5px 5px #666666;
          box-shadow: 0px 5px 5px #666666;
}

#root .pack:active {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-shadow: 0 5px #3a3939;
          box-shadow: 0 5px #3a3939;
  -webkit-transform: translateY(15px);
          transform: translateY(15px);
}

#root .body3 {
  width: 7vw;
  height: 15vh;
  margin-left: -23vw;
  margin-bottom: -20vh;
  position: absolute;
  border-radius: 20px;
  background-color: #d9d9d9;
  -webkit-box-shadow: 0px 10px 10px #2c2c2c;
          box-shadow: 0px 10px 10px #2c2c2c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#root .body3-1 {
  width: 6vw;
  height: 13vh;
  position: absolute;
  border-radius: 20px;
  background-color: #454545;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#root .power1 {
  width: 5vw;
  height: 2vh;
  position: absolute;
  border-radius: 20px;
  background-color: #d9d9d9;
  -webkit-box-shadow: 0px 5px 5px #070707;
          box-shadow: 0px 5px 5px #070707;
}

#root .powertext {
  font-size: 1vw;
  margin-bottom: -7vh;
  position: absolute;
  color: #fff;
}

#root .body4 {
  width: 7vw;
  height: 15vh;
  margin-right: -23vw;
  margin-bottom: -20vh;
  position: absolute;
  border-radius: 20px;
  background-color: #d9d9d9;
  -webkit-box-shadow: 0px 10px 10px #2c2c2c;
          box-shadow: 0px 10px 10px #2c2c2c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#root .body4:active {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-shadow: 0 5px #3a3939;
          box-shadow: 0 5px #3a3939;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

#root .body4-1 {
  width: 6vw;
  height: 13vh;
  position: absolute;
  border-radius: 20px;
  background-color: #454545;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#root .reset {
  font-size: 1vw;
  margin-bottom: -7vh;
  position: absolute;
  color: #fff;
}

#root .body5 {
  width: 12vw;
  height: 10vh;
  position: absolute;
  border-radius: 10px;
  margin-bottom: -23vh;
  background-color: #a1a1a1;
  -webkit-box-shadow: 0px 10px 10px #666666;
          box-shadow: 0px 10px 10px #666666;
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#root .body5:active {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-shadow: 0 5px #3a3939;
          box-shadow: 0 5px #3a3939;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

#root .eject {
  font-size: 1.2vw;
  margin-bottom: -4vh;
  position: absolute;
  color: #fff;
}

#root .light {
  width: 2vw;
  height: 2vh;
  position: absolute;
  margin-bottom: -57vh;
  margin-right: -46vw;
  border-radius: 10px;
  background-color: #585858;
}

#root .nintendo {
  width: 6vw;
  height: 5vh;
  position: absolute;
  margin-bottom: -70vh;
  margin-left: -28vw;
  background: url(../superfamicom/pic/nin.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#root .super {
  width: 20vw;
  height: 4vh;
  position: absolute;
  margin-bottom: -79vh;
  margin-left: -26vw;
  background: url(../superfamicom/pic/super.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

#root .famicom {
  width: 55vw;
  height: 35vh;
  position: absolute;
  margin-bottom: -167vh;
  background: url(../superfamicom/pic/superlogo.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

#root .control-1 {
  width: 10vw;
  height: 10vh;
  margin-left: -15vw;
  margin-top: -215vh;
  border-radius: 15px;
  background-color: #3d3d3d;
  position: absolute;
  z-index: 1;
}

#root .control-1-1 {
  width: 6vw;
  height: 5vh;
  margin-left: -15vw;
  margin-top: -205vh;
  border-radius: 10px;
  background-color: #272727;
  position: absolute;
}

#root .line-1 {
  width: 1vw;
  height: 20vh;
  margin-left: -15vw;
  margin-top: -189vh;
  background-color: #272727;
  position: absolute;
}

#root .control-2 {
  width: 10vw;
  height: 10vh;
  margin-right: -15vw;
  margin-top: -215vh;
  border-radius: 15px;
  background-color: #3d3d3d;
  position: absolute;
  z-index: 1;
}

#root .control-2-1 {
  width: 6vw;
  height: 5vh;
  margin-right: -15vw;
  margin-top: -205vh;
  border-radius: 10px;
  background-color: #272727;
  position: absolute;
}

#root .line-2 {
  width: 1vw;
  height: 20vh;
  margin-right: -15vw;
  margin-top: -189vh;
  background-color: #272727;
  position: absolute;
}

.swi {
  width: 40vw;
  height: 40vh;
  margin-bottom: -70vh;
  border-radius: 50px;
  background: url(./pic/swi.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body-1 {
  width: 40vw;
  height: 50vh;
  margin-bottom: -170vh;
  background-color: #323639;
  -webkit-box-shadow: 0px 10px 10px #666666;
          box-shadow: 0px 10px 10px #666666;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body-2 {
  width: 37vw;
  height: 45vh;
  background: url(./pic/zelda.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.left {
  width: 9vw;
  height: 50vh;
  background-color: #00c4e4;
  margin-left: -49.3vw;
  margin-bottom: -170vh;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  -webkit-box-shadow: 0px 10px 10px #666666;
          box-shadow: 0px 10px 10px #666666;
  position: absolute;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.leftbtn {
  width: 9vw;
  height: 30vh;
  background-color: #434340;
  margin-bottom: -150vh;
  margin-left: -49.3vw;
  margin-top: -2vh;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  position: absolute;
  z-index: 2;
}

.cir-1 {
  width: 2vw;
  height: 4vh;
  border-radius: 100%;
  margin-right: -4vw;
  position: absolute;
  background-color: #3d3f4a;
  z-index: 9;
  -webkit-box-shadow: 2px 3px 1px 0px #666666;
          box-shadow: 2px 3px 1px 0px #666666;
}

.cir-1:active {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-shadow: 0 5px #666666;
          box-shadow: 0 5px #666666;
  -webkit-transform: translate(5px 5px);
          transform: translate(5px 5px);
}

.cir-2 {
  width: 2vw;
  height: 4vh;
  border-radius: 100%;
  margin-left: -4vw;
  position: absolute;
  background-color: #3d3f4a;
  z-index: 8;
  -webkit-box-shadow: 2px 3px 1px 0px #666666;
          box-shadow: 2px 3px 1px 0px #666666;
}

.cir-2:active {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-shadow: 0 5px #666666;
          box-shadow: 0 5px #666666;
  -webkit-transform: translate(5px 5px);
          transform: translate(5px 5px);
}

.cir-3 {
  width: 2vw;
  height: 4vh;
  border-radius: 100%;
  position: absolute;
  margin-top: -4vw;
  background-color: #3d3f4a;
  z-index: 7;
  -webkit-box-shadow: 2px 3px 1px 0px #666666;
          box-shadow: 2px 3px 1px 0px #666666;
}

.cir-3:active {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-shadow: 0 5px #666666;
          box-shadow: 0 5px #666666;
  -webkit-transform: translate(5px 5px);
          transform: translate(5px 5px);
}

.cir-4 {
  width: 2vw;
  height: 4vh;
  border-radius: 100%;
  position: absolute;
  margin-bottom: -4vw;
  background-color: #3d3f4a;
  z-index: 6;
  -webkit-box-shadow: 2px 3px 1px 0px #666666;
          box-shadow: 2px 3px 1px 0px #666666;
}

.cir-4:active {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-shadow: 0 5px #666666;
          box-shadow: 0 5px #666666;
  -webkit-transform: translate(5px 5px);
          transform: translate(5px 5px);
}

.cir-5 {
  width: 3vw;
  height: 6vh;
  border-radius: 100%;
  position: absolute;
  margin-top: -15vw;
  background-color: #3d3f4a;
  z-index: 5;
  -webkit-box-shadow: 2px 3px 1px 0px #666666;
          box-shadow: 2px 3px 1px 0px #666666;
}

.rect-1 {
  width: 2vw;
  height: 4vh;
  margin-right: -4vw;
  margin-bottom: -15vw;
  position: absolute;
  background-color: #3d3f4a;
  z-index: 4;
  -webkit-box-shadow: 2px 3px 1px 0px #666666;
          box-shadow: 2px 3px 1px 0px #666666;
}

.rect-1:active {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-shadow: 0 5px #666666;
          box-shadow: 0 5px #666666;
  -webkit-transform: translate(5px 5px);
          transform: translate(5px 5px);
}

.minus {
  width: 2vw;
  height: 1vh;
  margin-right: -5vw;
  margin-top: -22vw;
  position: absolute;
  background-color: #3d3f4a;
  z-index: 3;
  -webkit-box-shadow: 2px 3px 1px 0px #666666;
          box-shadow: 2px 3px 1px 0px #666666;
}

.minus:active {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-shadow: 0 5px #666666;
          box-shadow: 0 5px #666666;
  -webkit-transform: translate(5px 5px);
          transform: translate(5px 5px);
}

.right {
  width: 9vw;
  height: 50vh;
  background-color: #ff6559;
  margin-right: -49.3vw;
  margin-bottom: -170vh;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  -webkit-box-shadow: 0px 10px 10px #666666;
          box-shadow: 0px 10px 10px #666666;
  position: absolute;
  z-index: 10;
}

.rightbtn {
  width: 9vw;
  height: 30vh;
  background-color: #434340;
  margin-bottom: -150vh;
  margin-right: -49.3vw;
  margin-top: -2vh;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  position: absolute;
  z-index: 1;
}

.cir-6 {
  width: 2vw;
  height: 4vh;
  border-radius: 100%;
  margin-left: 3vw;
  margin-top: 9vh;
  position: absolute;
  background-color: #3d3f4a;
  -webkit-box-shadow: 2px 3px 1px 0px #666666;
          box-shadow: 2px 3px 1px 0px #666666;
  z-index: 9;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cir-6:active {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-shadow: 0 5px #666666;
          box-shadow: 0 5px #666666;
  -webkit-transform: translate(5px 5px);
          transform: translate(5px 5px);
}

.cir-7 {
  width: 2vw;
  height: 4vh;
  border-radius: 100%;
  margin-left: 3vw;
  margin-top: 17vh;
  position: absolute;
  background-color: #3d3f4a;
  -webkit-box-shadow: 2px 3px 1px 0px #666666;
          box-shadow: 2px 3px 1px 0px #666666;
  z-index: 8;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cir-7:active {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-shadow: 0 5px #666666;
          box-shadow: 0 5px #666666;
  -webkit-transform: translate(5px 5px);
          transform: translate(5px 5px);
}

.cir-8 {
  width: 2vw;
  height: 4vh;
  border-radius: 100%;
  margin-left: 5vw;
  margin-top: 13vh;
  position: absolute;
  background-color: #3d3f4a;
  -webkit-box-shadow: 2px 3px 1px 0px #666666;
          box-shadow: 2px 3px 1px 0px #666666;
  z-index: 7;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cir-8:active {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-shadow: 0 5px #666666;
          box-shadow: 0 5px #666666;
  -webkit-transform: translate(5px 5px);
          transform: translate(5px 5px);
}

.cir-9 {
  width: 2vw;
  height: 4vh;
  border-radius: 100%;
  margin-left: 1vw;
  margin-top: 13vh;
  position: absolute;
  background-color: #3d3f4a;
  -webkit-box-shadow: 2px 3px 1px 0px #666666;
          box-shadow: 2px 3px 1px 0px #666666;
  z-index: 6;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cir-9:active {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-shadow: 0 5px #666666;
          box-shadow: 0 5px #666666;
  -webkit-transform: translate(5px 5px);
          transform: translate(5px 5px);
}

.cir-10 {
  width: 3vw;
  height: 6vh;
  border-radius: 100%;
  margin-left: 2.5vw;
  margin-top: 26vh;
  position: absolute;
  background-color: #3d3f4a;
  -webkit-box-shadow: 2px 3px 1px 0px #666666;
          box-shadow: 2px 3px 1px 0px #666666;
  z-index: 5;
}

.rect-2 {
  width: 2vw;
  height: 4vh;
  margin-left: 1.5vw;
  margin-top: 19vw;
  border-radius: 100%;
  position: absolute;
  background-color: #3d3f4a;
  -webkit-box-shadow: 2px 3px 1px 0px #666666;
          box-shadow: 2px 3px 1px 0px #666666;
  z-index: 4;
}

.rect-2:active {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-shadow: 0 5px #666666;
          box-shadow: 0 5px #666666;
  -webkit-transform: translate(5px 5px);
          transform: translate(5px 5px);
}

.plus {
  width: 2vw;
  height: 1vh;
  margin-left: 1vw;
  margin-top: 1.5vw;
  position: absolute;
  z-index: 1;
  background-color: #3d3f4a;
  z-index: 3;
}

.plus:active {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-shadow: 0 5px #666666;
          box-shadow: 0 5px #666666;
  -webkit-transform: translate(5px 5px);
          transform: translate(5px 5px);
}

.plus-1 {
  width: 0.5vw;
  height: 3.5vh;
  margin-left: 1.75vw;
  margin-top: 0.9vw;
  position: relative;
  z-index: 0;
  background-color: #3d3f4a;
  -webkit-box-shadow: 2px 3px 1px 0px #666666;
          box-shadow: 2px 3px 1px 0px #666666;
  z-index: 2;
}

.plus-1:active {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-shadow: 0 5px #666666;
          box-shadow: 0 5px #666666;
  -webkit-transform: translate(5px 5px);
          transform: translate(5px 5px);
}

.next {
  width: 100vw;
  height: 90vh;
  color: #fff;
  position: absolute;
  margin-top: -38vh;
  font-size: 10vw;
  font-family: 'Yuji Boku', serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.next1 {
  width: 100vw;
  height: 90vh;
  color: #fff;
  position: absolute;
  margin-bottom: -310vh;
  font-size: 10vw;
  font-family: 'Yuji Boku', serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
