* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 400vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#root .body1 {
  width: 40vw;
  height: 82vh;
  background-color: #d9d9d9;
  border-radius: 30px;
  margin-top: -300vh;
  -webkit-box-shadow: 0px 5px 5px 0px #666666;
          box-shadow: 0px 5px 5px 0px #666666;
  position: absolute;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#root .splogo {
  width: 5vw;
  height: 5vh;
  position: absolute;
  margin-top: -65vh;
  margin-right: -28vw;
  background: url(../superfamicom/pic/logo.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

#root .body2 {
  width: 35vw;
  height: 65vh;
  border-radius: 30px;
  margin-top: -9vh;
  background-color: #808080;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#root .pack {
  width: 28vw;
  height: 8vh;
  background-color: #b5b5b5;
  margin-top: -35vh;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 25vw;
  border-bottom-right-radius: 25vw;
  -webkit-box-shadow: 0px 5px 5px #666666;
          box-shadow: 0px 5px 5px #666666;
}

#root .body3 {
  width: 7vw;
  height: 15vh;
  margin-left: -23vw;
  margin-bottom: -20vh;
  position: absolute;
  border-radius: 20px;
  background-color: #d9d9d9;
  -webkit-box-shadow: 0px 10px 10px #2c2c2c;
          box-shadow: 0px 10px 10px #2c2c2c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#root .body3-1 {
  width: 6vw;
  height: 13vh;
  position: absolute;
  border-radius: 20px;
  background-color: #454545;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#root .power1 {
  width: 5vw;
  height: 2vh;
  position: absolute;
  border-radius: 20px;
  background-color: #d9d9d9;
  -webkit-box-shadow: 0px 5px 5px #070707;
          box-shadow: 0px 5px 5px #070707;
}

#root .powertext {
  font-size: 1vw;
  margin-bottom: -7vh;
  position: absolute;
  color: #fff;
}

#root .body4 {
  width: 7vw;
  height: 15vh;
  margin-right: -23vw;
  margin-bottom: -20vh;
  position: absolute;
  border-radius: 20px;
  background-color: #d9d9d9;
  -webkit-box-shadow: 0px 10px 10px #2c2c2c;
          box-shadow: 0px 10px 10px #2c2c2c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#root .body4-1 {
  width: 6vw;
  height: 13vh;
  position: absolute;
  border-radius: 20px;
  background-color: #454545;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#root .reset {
  font-size: 1vw;
  margin-bottom: -7vh;
  position: absolute;
  color: #fff;
}

#root .body5 {
  width: 12vw;
  height: 10vh;
  position: absolute;
  border-radius: 10px;
  margin-bottom: -23vh;
  background-color: #a1a1a1;
  -webkit-box-shadow: 0px 10px 10px #666666;
          box-shadow: 0px 10px 10px #666666;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#root .eject {
  font-size: 1.2vw;
  margin-bottom: -4vh;
  position: absolute;
  color: #fff;
}

#root .nintendo {
  width: 6vw;
  height: 5vh;
  position: absolute;
  margin-bottom: -70vh;
  margin-left: -28vw;
  background: url(../superfamicom/pic/nin.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#root .super {
  width: 20vw;
  height: 4vh;
  position: absolute;
  margin-bottom: -79vh;
  margin-left: -26vw;
  background: url(../superfamicom/pic/super.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

#root .famicom {
  width: 55vw;
  height: 55vh;
  position: absolute;
  margin-bottom: -220vh;
  background: url(../superfamicom/pic/superlogo.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

#root .control-1 {
  width: 10vw;
  height: 10vh;
  margin-left: -15vw;
  margin-top: -215vh;
  border-radius: 15px;
  background-color: #3d3d3d;
  position: absolute;
  z-index: 1;
}

#root .control-1-1 {
  width: 6vw;
  height: 5vh;
  margin-left: -15vw;
  margin-top: -205vh;
  border-radius: 10px;
  background-color: #272727;
  position: absolute;
}

#root .line-1 {
  width: 1vw;
  height: 50vh;
  margin-left: -15vw;
  margin-top: -150vh;
  background-color: #272727;
  position: absolute;
}

#root .control-2 {
  width: 10vw;
  height: 10vh;
  margin-right: -15vw;
  margin-top: -215vh;
  border-radius: 15px;
  background-color: #3d3d3d;
  position: absolute;
  z-index: 1;
}

#root .control-2-1 {
  width: 6vw;
  height: 5vh;
  margin-right: -15vw;
  margin-top: -205vh;
  border-radius: 10px;
  background-color: #272727;
  position: absolute;
}

#root .line-2 {
  width: 1vw;
  height: 50vh;
  margin-right: -15vw;
  margin-top: -150vh;
  background-color: #272727;
  position: absolute;
}

.line-3 {
  width: 1vw;
  height: 50vh;
  margin-left: -15vw;
  margin-top: -20vh;
  background-color: #272727;
  position: absolute;
}

.line-4 {
  width: 1vw;
  height: 50vh;
  margin-right: -15vw;
  margin-top: -20vh;
  background-color: #272727;
  position: absolute;
}

.swi {
  width: 55vw;
  height: 55vh;
  margin-bottom: -60vh;
  background: url(./pic/swi.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
}
