* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
  background-color: #111827;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
#root > div {
  width: 30vw;
  height: 40vh;
  margin: 10px;
  border-radius: 30px;
  background-color: #112573;
}
#root #day {
  font-size: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
}