* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin flex ($d, $j, $a) {

  display: ($d);
  justify-content: ($j);
  align-items: ($a);
}

@mixin border {
  border: 1px solid black;
}

#root {

  width: 100vw;
  height: 100vh;
  background-color: #111827;
  color: #fff;
  @include flex(flex, center, center);

  & > div {

    width: 30vw;
    height: 40vh;
    margin: 10px;
    border-radius: 30px;
    background-color: #112573;
  }

  #day {
    font-size: 3vw;
    @include flex(flex,center,center);
  }

  

}